/* Empty. Add your own CSS if you like */

body .view-container.tab-content {
  background-color: transparent;
}

body .pane, .menu, .view, .list, .item       {
    background: transparent;
}

.images-parent{
      text-align: center;
    }
.center-image{
      margin:0 auto;
     
    }.
 .item .row, .item .col {
  padding: 0;
  
}
body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
    background-color:#b3ffb3;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    font-size: 20px;

  }

.col {
    background-color:#dff0d8;
    border: solid 3px green;
    border-bottom-style: none;
    border-right-style: none;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
}

.col:last-child {
    border-right: solid 3px green;
}

.row:last-child .col {
    border-bottom: solid 3px green;
}
.tabs-top >.tabs, .tabs.tabs-top
{
    top: 0 !important;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
/*.my-icon-user,
.my-icon-user:before{
  content: url('../img/user.png');
  height: 100;
}
.my-icon-transac,
.my-icon-user:before{
  font-size:80px !important;
  content: url('../img/transaction.png');
}
.my-icon-cal,
.my-icon-user:before{
  font-size:80px !important;
  content: url('../img/calendar.png');
}
.my-icon-user,
.my-icon-user:rep{
  font-size:80px !important;
  content: url('../img/report.gif');
}*/