/* Empty. Add your own CSS if you like */

body .view-container.tab-content {
  background-color: transparent;
}

body .pane, .menu, .view, .list, .item       {
    background: transparent;
}

.images-parent{
      text-align: center;
    }
.center-image{
      margin:0 auto;
     
    }.
 .item .row, .item .col {
  padding: 0;
  
}
body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
    background-color:#b3ffb3;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    font-size: 20px;

  }

.col {
    background-color:#dff0d8;
    border: solid 3px green;
    border-bottom-style: none;
    border-right-style: none;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
}

.col:last-child {
    border-right: solid 3px green;
}

.row:last-child .col {
    border-bottom: solid 3px green;
}
.tabs-top >.tabs, .tabs.tabs-top
{
    top: 0 !important;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
/*CALENDAR*/
/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background-color: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}



html, body {
  height:100%;
}
body {
  font-size:100%;
  line-height:1.5;
  font-family: "Roboto Condensed", sans-serif;
  background:@main-bg;
  background-image:linear-gradient(@main-bg 0%, darken(@main-bg,12%) 100%);
  color:@#444;
}

*, *:before, *:after {
  box-sizing:border-box;
}

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width:100%;
  height:auto;
  vertical-align:baseline;
}

a {
  text-decoration:none;
}

.max(@maxWidth;
  @rules) {
    @media only screen and (max-width: @maxWidth) {
      @rules();
    }
  }

.min(@minWidth;
  @rules) {
    @media only screen and (min-width: @minWidth) {
      @rules();
    }
  }


.calendar-wrapper {
  width:360px;
  margin:3em auto;
  padding:2em;
  border:1px solid #dcdcff;
  border-radius:5px;
  background:#dff0d8;
  
}/*font*/
table {
  clear:both;
  width:100%;
  border:1px solid green;
  border-radius:3px;
  border-collapse:collapse;
  color:#444;
}
td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid green;
  border-top:1px solid green;
  width:100% / 7;
}
td.not-current {
  color:#c0c0c0;
}
td.normal {}
td.today {
  font-weight:700;
  color:#28283B;
  font-size:1.5em;
}
thead td {
  border:none;
  background-color:#b3ffb3;
  text-transform:uppercase;
  font-size:1.5em;
}
#btnPrev {
  float:left;
  margin-bottom:20px;
  &:before {
    content:'\f104';
    font-family:FontAwesome;
    padding-right:4px;
  }
}
#btnNext {
  float:right;
  margin-bottom:20px;
  &:after {
    content:'\f105';
    font-family:FontAwesome;
    padding-left:4px;
  }
}
#btnPrev, #btnNext {
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:#c0c0c0;
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.3s ease;
  &:hover {
    color:#28283B;
    font-weight:bold;
  }
}
/*.my-icon-user,
.my-icon-user:before{
  content: url('../img/user.png');
  height: 100;
}
.my-icon-transac,
.my-icon-user:before{
  font-size:80px !important;
  content: url('../img/transaction.png');
}
.my-icon-cal,
.my-icon-user:before{
  font-size:80px !important;
  content: url('../img/calendar.png');
}
.my-icon-user,
.my-icon-user:rep{
  font-size:80px !important;
  content: url('../img/report.gif');
}*/